{
  "root": true,
  "overrides": [
    {
      "files": [
        "*.ts"
      ],
      "extends": [
        "plugin:@angular-eslint/recommended",
        "plugin:@angular-eslint/template/process-inline-templates",
        "plugin:prettier/recommended"
      ],
      "parserOptions": {
        "project": [
          "tsconfig.json"
        ],
        "createDefaultProgram": true
      },
      "rules": {
        "@angular-eslint/no-empty-lifecycle-method": "error",
        "prefer-const": "warn",
        "no-console": "warn",
        "semi": [
          "error",
          "always"
        ]
      }
    },
    {
      "files": [
        "*.html"
      ],
      "extends": [
        "plugin:@angular-eslint/template/recommended"
      ],
      "rules": {
        "max-len": [
          "error",
          {
            "code": 140
          }
        ]
      }
    }
  ]
}
